.Header{
    font-family: 'Edwardian Script ITC', cursive;
    font-size: 77px;
    margin: 0;
    padding: 10px;
    top : 0;
    padding-top: 0%;
    position: absolute;
    color: blueviolet;
    background-color: lightcyan;
    z-index: 100;
}

.Header :hover{
    color: lightcyan;
    background-color: blueviolet;
    cursor: pointer;
}

.Header_img{
    width: 100vw;
    height: 100vh;
    mask-position: center;
    position: sticky;
}

.header_nav{
    position: absolute;
    top: 5%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: lightcyan;
    color: blueviolet;
}
.header_nav table{
    border-collapse: collapse;
    width: 100%;
}

.header_nav th, .header_nav td{
    border: 1px solid blueviolet;
    padding: 8px;
    text-align: center;
}
.header_nav th{
    background-color: lightcyan;
    color: blueviolet;
}

.header_nav :hover{
    background-color: blueviolet;
    color: lightcyan;
    cursor: pointer;
}

.main_article{
    font-family: 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    background-color: lightslategrey;
    color: black;
    border-radius: 10px;
}

.cuisine_title{
    font-family: 'Blackadder ITC', serif;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    background-color: lightgrey;
    color: green;
    text-align: center;
}

.cuisine_title :hover{
    color: lightgrey;
    background-color: green;
    cursor: pointer;
}

.cuisine_paragraph{
    font-family: 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
}

.footer{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    background-color: lightcyan;
    color: blueviolet;
    text-align: center;
}

.footer :hover{
    color: lightcyan;
    background-color: blueviolet;
    cursor: pointer;
}

.Menu_header{
    font-family: 'Edwardian Script ITC', cursive;
    font-size: 70px;
    margin: 0px;
    padding: 0 10px 10px 10px;
    background-color: lightcyan;
    color: blueviolet;
    text-align: left;
    top: 0;
    position: relative;
    z-index: 99;
}

.menu_header_nav{
    position: absolute;
    top: 5%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: lightcyan;
    color: blueviolet;
}
.menu_header_nav table{
    border-collapse: collapse;
    width: 100%;
}
.menu_header_nav th, .menu_header_nav td{
    border: 2px solid burlywood;
    padding: 8px;
    text-align: center;
    font-family: 'Cambria', serif;
    font-size: 21px;
}
.menu_header_nav:hover{
    background-color: lightblue;
    color: blue;
    cursor: pointer;
    z-index: 100;
}

.menu_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 10px;
}
.menu_table_body{
    position: static;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    background-color: lightcyan;
    color: black;
    border-radius: 10px;
}

.menu_table_body th{
    border: 1px solid blueviolet;
    padding: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: lightgreen;
}

.menu_table_body td{
    border: 1px solid blueviolet;
    padding: 10px;
    text-align: center;
}

.menu_table_body :hover{
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}

.image_menu_table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.image_menu_table th{
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
    font-family: 'Cambria', serif;
    font-size: 21px;
    background-color: lightcyan;
    color: lightseagreen;
    font-style: italic;
}

.image_menu_table td{
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
    font-family: 'Cambria', serif;
    font-size: 21px;
}

.image_menu_table h3{
    font-family: 'Cambria', serif;
    font-size: 25px;
    background-color: lightcyan;
    color: lightseagreen;
    font-style: italic;
    font: 700;
}

.contact_title{
    font-family: 'Edwardian Script ITC', cursive;
    font-size: 70px;
    margin: 10px;
    padding: 0 10px 10px 10px;
    background-color: lightcyan;
    color: black;
    text-align: center;
    position: relative;
}

.contact_nav_table{
    border-collapse: collapse;
    top: 70px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: lightcyan;
    color: black;
    border-radius: 10px;
}

.contact_nav_table th, .contact_nav_table td{
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    font-family: 'Cambria', serif;
    font-size: 21px;
}
.contact_nav_table th{
    background-color: lightcyan;
    color: lightseagreen;
    font-style: italic;
}
.contact_nav_table :hover{
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}

.map{
    display: block;
    margin: 20px auto;
    border: 2px solid blue;
    border-radius: 10px;
    right: 0;
    left: 0;
}

.contact_nav_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.contact_nav_list li{
    margin: 0 15px;
    font-family: 'Cambria', serif;
    font-size: 21px;
}

.contact_nav_list li:hover{
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}   

_.contact_nav_table1{
    border-collapse: collapse;
    top: 70px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: lightcyan;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: inherit;
}

.sala_toma{
    background-image: url("../images/salade_de_tomates.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
    width: 100vw;
    height: 100vh;  
    position: sticky;
    z-index: 1;
}

.sala_tom_desc{
    font-family: 'Edwardian Script ITC', cursive;
    font-size: 40px;
    margin: 10px;
    padding: 0 10px 10px 10px;
    background-color: lightcyan;
    color: black;
    text-align: center;
}

.Description{
    font-family: 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
}

.sala_toma_table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 10px;
}

.sala_toma_table th{
    border: 1px solid blueviolet;
    padding: 10px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: lightgreen;
}

.sala_toma_table td{
    border: 1px solid blueviolet;
    padding: 10px;
    text-align: center;
}

.sala_toma_table :hover{
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}

.sala_toma_table h3{
    font-family: 'Cambria', serif;
    font-size: 25px;
    background-color: lightcyan;
    color: lightseagreen;
    font-style: italic;
    font: 700;
}

.Sala_toma_links{
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    background-color: lightcyan;
    color: blueviolet;
}
.Sala_toma_links :hover{
    color: lightcyan;
    background-color: blueviolet;
    cursor: pointer;
}
.sala_prix{
    font-family: 'Cambria', serif;
    font-size: 25px;
    background-color: lightcyan;
    color: lightseagreen;
    font-style: italic;
    font: 700;
    text-align: center;
}


